.cartmini {

    &-area {

        position: fixed;
        right: calc(-100% + 80px);
        top: 0;
        width: 580px;
        height: 100%;
        transform: translate(calc(100% + 80px));
        background: var(--common-white) none repeat scroll 0 0;
        transition: .45s ease-in-out, opacity .45s ease-in-out;
        z-index: 9999;
        scrollbar-width: none;

        @media only screen and (max-width: 479px) {
            width: 390px;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &.opened {
            right: 0;
            transform: translate(0);
        }
    }

    &-wrapper {
        position: relative;
        min-height: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1rem;

        @media only screen and (max-width: 479px) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}