<section class="product-detail">
    <div class="product-detail__top">
        <div class="container">
            <div class="row">

                <div class="col-xl-6 col-lg-6">
                    <div class="product-detail__thumb d-sm-flex">
                        <img [src]="product.images[0]" alt="">
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6">
                    <div class="product-detail__wrapper">

                        <div class="product-detail__category">
                            <span>{{product.category}}</span>
                        </div>

                        <h3 class="product-detail__title">{{product.name}}</h3>

                        <div class="product-detail__inventory d-flex align-items-center">

                            <div class="product-detail__stock">
                                <span>In Stock</span>
                            </div>

                            <div class="product-detail__rating d-flex align-items-center">

                                <div class="product-detail__star">
                                    <app-rating-star [rating]="product.rating"></app-rating-star>
                                </div>

                                <div class="product-detail__reviews">
                                    <span>(36 Reviews)</span>
                                </div>
                            </div>

                        </div>

                        <p>Descripcion de producto</p>

                        <div class="product-detail__price">
                            <span class="product-detail__price--new">${{product.price}} </span>
                            <span class="product-detail__price--old">${{product.priceAfter}}</span>
                        </div>

                        <div class="product-detail__action">

                            <h3 class="product-detail__action-title">Quantity</h3>

                            <div class="d-flex align-items-center">
                                <div class="product-detail__quantity">
                                    <span class="product-detail__quantity-minus">
                                        <i class="fa-regular fa-minus fa-2xs"></i>
                                    </span>

                                    <input class="product-detail__quantity-input" type="text" value="1">

                                    <span class="product-detail__quantity-plus">
                                        <i class="fa-regular fa-plus fa-2xs"></i>
                                    </span>
                                </div>

                                <div class="product-detail__add w-100">
                                    <button class="option w-100" (click)="registerProductCart()">Add To Cart</button>
                                </div>
                            </div>

                            <button class="option product-detail__buy-now w-100">Buy Now</button>

                        </div>

                        <div class="product-detail__query">
                            <div class="product-detail__query-item d-flex align-items-center">
                                <span>SKU: </span>
                                <p>NTB7SDVX44</p>
                            </div>
                            <div class="product-detail__query-item d-flex align-items-center">
                                <span>Category: </span>
                                <p>{{product.category}}</p>
                            </div>
                            <div class="product-detail__query-item d-flex align-items-center">
                                <span>Tag: </span>
                                <p>Android</p>
                            </div>
                        </div>

                        <div class="product-detail__social">
                            <span>Share: </span>
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-vimeo-v"></i></a>
                        </div>

                        <div class="product-detail__payment d-flex align-items-center flex-wrap justify-content-between">
                            <p>Guaranteed safe <br> & secure checkout</p>
                            <img src="assets/img/product/icons/payment-option.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>