<div class="cartmini-checkout">
  <div class="cartmini-checkout-title mb-4">
    <h4>Subtotal:</h4>
    <span>${{purchaseOrder().totalPrice}}</span>
  </div>

  <div class="cartmini-checkout-btn">
    <a
      [routerLink]="routeService.orderCartRoute"
      class="mb-2 w-100"
      (click)="closeShoppingCart()">
      view cart
    </a>
    <a
      [routerLink]="routeService.checkOutRoute"
      class="btn-border w-100"
      (click)="closeShoppingCart()">
      checkout
    </a>
  </div>
</div>