.cartmini-checkout {
    padding-top: 15px;
    padding-bottom: 40px;
    width: 100%;
    background: var(--common-white);
    border-top: 2px solid var(--border-primary);

    &-title {

        & h4 {
            font-size: 15px;
            display: inline-block;
            font-weight: 500;
            margin-bottom: 0;
            text-transform: capitalize;
        }

        & span {
            float: right;
            font-size: 15px;
            color: var(--common-black);
            font-weight: 500;
        }
    }

    &-btn {

        & a {
            display: inline-block;
            background-color: var(--common-black);
            color: var(--common-white);

            &.btn-border {
                background-color: transparent;
                border: 1.5px solid var(--common-black);
                color: var(--common-black);
            }

            &:hover {
                background-color: var(--theme-primary);
                color: var(--common-white);
                border-color: var(--theme-primary);
            }

        }
    }
}