@use 'index' as *;

.order-cart {

    padding-bottom: 120px;

    &__products {

        margin-bottom: 25px;
        margin-right: 30px;

        .table> :not(caption)>*>* {
            padding: 20px 0;
            box-shadow: none;
            vertical-align: middle;
            background-color: inherit;
            border-bottom: none;
        }

        & thead {

            background-color: #F1F3F4;

            & th {
                font-weight: 500;
                font-size: 16px;
                color: var(--common-black);
                border: 0 !important;
                padding-top: 9px !important;
                padding-bottom: 9px !important;
                text-align: center;

                &:first-child {
                    border-radius: 6px 0 0 6px;
                }

                &:last-child {
                    border-radius: 0 6px 6px 0;
                }
            }
        }

        & tbody {

            & td {
                text-align: center;
                font-size: 16px;
            }
        }

    }

    &__image {
        width: 78px;
        margin-right: 20px;

        & img {
            width: 78px;
            height: 100px;
            object-fit: cover;
            @include transition();

            &:hover {
                @include transform(scale(1.2));
            }
        }
    }

    &__remove {
        display: block;
        text-align: center;
        height: 32px;
        width: 32px;
        line-height: 30px;
        background-color: #f6f7fb;
        border: 2px solid #f6f7fb;
        border-radius: 50%;
        font-size: 12px;
        color: #000;
        transition: 0.3s;
    }

    &__price {
        width: 180px;
    }

    &__quantity {
        width: 130px;
    }

    &__input {
        width: 100px;
        position: relative;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;

        & input {
            height: 34px;
            text-align: center;
            font-size: 14px;
            border: 1px solid #DADCE0;
            background-color: var(--common-white);
            padding: 0 30px;
            border-radius: 20px;
        }
    }

    &__plus,
    &__minus {
        display: inline-block;
        text-align: center;
        font-size: 16px;
        color: var(--common-black);
        position: absolute;
        top: 50%;
        left: 16px;
        @include transform(translateY(-50%));
    }

    &__plus {
        left: auto;
        right: 16px;

        &::after {
            left: 0;
            right: auto;
        }
    }

    &__checkout {

        background: var(--common-white);
        box-shadow: 0px 30px 70px rgba(1, 15, 28, 0.1);
        padding: 36px 24px 28px;
        margin-left: -24px;

        @media #{$md, $sm, $xs} {
            margin-top: 50px;
            margin-left: 0;
        }

        &-top {

            padding-bottom: 13px;
            margin-bottom: 19px;

            & span {
                font-size: 17px;
                color: var(--common-black);
                font-weight: 500;
            }
        }

        &-shipping {

            padding-bottom: 16px;
            margin-bottom: 15px;

            &-title {
                font-weight: 500;
                font-size: 15px;
                margin-bottom: 7px;
            }

            &-option {
                &:not(:last-child) {
                    margin-bottom: 4px;
                }

                & input {
                    display: none;

                    &:checked {
                        &+label {
                            &::after {
                                border-color: var(--theme-primary);
                            }

                            &::before {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }

                & label {
                    font-weight: 400;
                    font-size: 14px;
                    color: #161C2D;
                    position: relative;
                    padding-left: 25px;

                    &:hover {
                        cursor: pointer;
                    }

                    & span {
                        color: var(--theme-primary);
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 5px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: 1px solid #BCBCBC;
                        // @extend %tp-transition;
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        left: 4px;
                        top: 9px;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: var(--theme-primary);
                        visibility: hidden;
                        opacity: 0;
                        // @extend %tp-transition;
                    }
                }
            }
        }

        &-total {
            margin-bottom: 25px;

            & span {
                font-weight: 500;
                font-size: 17px;
                color: var(--common-black);
            }
        }

        &-btn {
            color: var(--common-white);
            background-color: var(--common-black);
            display: inline-block;

            &:hover {
                background-color: var(--theme-primary);
                color: var(--common-white);
            }
        }
    }
}