<section class="tp-cart-area pb-120">
    <div class="container">

        <div *ngIf="products.length" class="row">

            <div class="col-xl-9 col-lg-8">
                <div class="tp-cart-list mb-25 mr-30">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="tp-cart-header-product"></th>
                                <th colspan="2" class="tp-cart-header-product">Product</th>
                                <th class="tp-cart-header-price">Price</th>
                                <th class="tp-cart-header-quantity">Quantity</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let product of products">

                                <!-- Delete product to wishlist -->
                                <td class="tp-product-remove">
                                    <button class="remove-wishlist" (click)="deleteProductCart(product.id)">
                                        <i class="fal fa-times"></i>
                                    </button>
                                </td>

                                <!-- Image -->
                                <td class="tp-cart-img">
                                    <a href="product-details.html">
                                        <img [src]="product.image" alt="" />
                                    </a>
                                </td>

                                <!-- Title -->
                                <td class="tp-cart-title">
                                    <a href="product-details.html">{{ product.name }}</a>
                                </td>

                                <!-- Price -->
                                <td class="tp-cart-price">
                                    <span>${{ product.price }}</span>
                                </td>

                                <!-- Quantity -->
                                <td class="tp-cart-quantity">
                                    <div class="tp-product-quantity mt-10 mb-10">
                                        <button class="tp-cart-minus"
                                            (click)="decrementQuantityProductCart(product.id)">
                                            <svg width="10" height="2" viewBox="0 0 10 2" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1H9" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </button>
                                        <input class="tp-cart-input" type="text" [value]="product.quantity" />
                                        <button class="tp-cart-plus" (click)="incrementQuantityProductCart(product.id)">
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5 1V9" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M1 5H9" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="tp-cart-checkout-wrapper">
                    <div class="tp-cart-checkout-top d-flex align-items-center justify-content-between">
                        <span class="tp-cart-checkout-top-title">Subtotal</span>
                        <span class="tp-cart-checkout-top-price">$742</span>
                    </div>

                    <div class="tp-cart-checkout-shipping">
                        <h4 class="tp-cart-checkout-shipping-title">Shipping</h4>

                        <div class="tp-cart-checkout-shipping-option-wrapper">
                            <div class="tp-cart-checkout-shipping-option">
                                <input id="flat_rate" type="radio" name="shipping" />
                                <label for="flat_rate">Flat rate: <span>$20.00</span></label>
                            </div>
                            <div class="tp-cart-checkout-shipping-option">
                                <input id="local_pickup" type="radio" name="shipping" />
                                <label for="local_pickup">Local pickup: <span> $25.00</span></label>
                            </div>
                            <div class="tp-cart-checkout-shipping-option">
                                <input id="free_shipping" type="radio" name="shipping" />
                                <label for="free_shipping">Free shipping</label>
                            </div>
                        </div>
                    </div>

                    <div class="tp-cart-checkout-total d-flex align-items-center justify-content-between">
                        <span>Total</span>
                        <span>$724</span>
                    </div>

                    <div class="tp-cart-checkout-proceed">
                        <a [routerLink]="routeService.checkOutRoute" class="tp-cart-checkout-btn w-100">Proceed to
                            Checkout</a>
                    </div>
                </div>
            </div>

        </div>

        <ng-container *ngIf="!products.length">
            <app-product-empty [name]="'Shopping Cart'"></app-product-empty>
        </ng-container>

    </div>
</section>