<section class="order-cart">
    <div class="container">

        <div *ngIf="products()?.length" class="row">

            <div class="col-xl-9 col-lg-8">
                <div class="order-cart__products">
                    <table [@slideTable] class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="2">Product</th>
                                <th>Rating</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr [@slideFadeLeft] *ngFor="let product of products()">

                                <!-- Delete product to wishlist -->
                                <td>
                                    <button type="button" class="order-cart__remove"
                                        (click)="deleteProductCart(product.id)">
                                        <i class="fal fa-times"></i>
                                    </button>
                                </td>

                                <!-- Image -->
                                <td class="order-cart__image">
                                    <a href="product-details.html">
                                        <img [src]="product.image" alt="" />
                                    </a>
                                </td>

                                <!-- Title -->
                                <td>
                                    <a href="product-details.html">{{ product.name }}</a>
                                </td>

                                <!-- Rating -->
                                <td>
                                    <app-rating-star [rating]="product.rating"></app-rating-star>
                                </td>

                                <!-- Price -->
                                <td>
                                    <span>${{ product.priceCart }}</span>
                                </td>

                                <!-- Quantity -->
                                <td class="order-cart__quantity">
                                    <div class="order-cart__input">
                                        <button 
                                            type="button" 
                                            class="order-cart__minus"
                                            (click)="decrementQuantityProductCart(product.id)">
                                            <i class="fa-regular fa-minus fa-2xs"></i>
                                        </button>
                                        <input 
                                            type="text"
                                            [value]="product.quantity" 
                                            readonly />
                                        <button 
                                            type="button"
                                            class="order-cart__plus" 
                                            (click)="incrementQuantityProductCart(product.id)">
                                            <i class="fa-regular fa-plus fa-2xs"></i>
                                        </button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="tp-cart-checkout-wrapper">
                    <div class="tp-cart-checkout-top d-flex align-items-center justify-content-between">
                        <span class="tp-cart-checkout-top-title">Subtotal</span>
                        <span class="tp-cart-checkout-top-price">${{purchaseOrder.totalPrice}}</span>
                    </div>

                    <div class="tp-cart-checkout-shipping">
                        <h4 class="tp-cart-checkout-shipping-title">Shipping</h4>

                        <div class="tp-cart-checkout-shipping-option-wrapper">
                            <div class="tp-cart-checkout-shipping-option">
                                <input id="flat_rate" type="radio" name="shipping" />
                                <label for="flat_rate">Flat rate: <span>$20.00</span></label>
                            </div>
                            <div class="tp-cart-checkout-shipping-option">
                                <input id="local_pickup" type="radio" name="shipping" />
                                <label for="local_pickup">Local pickup: <span> $25.00</span></label>
                            </div>
                            <div class="tp-cart-checkout-shipping-option">
                                <input id="free_shipping" type="radio" name="shipping" />
                                <label for="free_shipping">Free shipping</label>
                            </div>
                        </div>
                    </div>

                    <div class="tp-cart-checkout-total d-flex align-items-center justify-content-between">
                        <span>Total</span>
                        <span>${{purchaseOrder.totalPrice}}</span>
                    </div>

                    <div class="tp-cart-checkout-proceed">
                        <a [routerLink]="routeService.checkOutRoute" class="tp-cart-checkout-btn w-100">Proceed to
                            Checkout</a>
                    </div>
                </div>
            </div>

        </div>

        <ng-container *ngIf="!products()?.length">
            <app-product-empty [name]="'Shopping Cart'"></app-product-empty>
        </ng-container>

    </div>
</section>