.dropdown-menu {
    position: absolute;
    width: 100%;
    display: block;
    min-width: 11.25rem;
    margin: 0;
    color: #424551;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5e8ed;
    border-radius: 15px;
    margin-top: 0.5rem;
    box-shadow: 0 1.75rem 1.875rem rgba(154, 156, 165, .08), 0 1.25rem 1rem rgba(154, 156, 165, .05), 0 .5rem .625rem rgba(154, 156, 165, .04), 0 .25rem .25rem rgba(30, 33, 44, .03)
}

.results-container .dropdown-item {
    text-decoration: none;
    font-size: 14px;
    color: #2b2d42;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    transition: all 400ms ease;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.results-container .dropdown-item:hover {
    background: #dae7eb;
}