<div class="tp-header-search-5">
    <div class="tp-header-search-input-box-5">

        <div class="tp-header-search-input-5">
            <input type="text" placeholder="Search for products (e.g. eggs, milk, potato)" [formControl]="inputSearch"
                (focus)="onInputFocus()" (blur)="onInputBlur()">
            <span class="tp-header-search-icon-5">
                <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
            </span>
        </div>

        <div *ngIf="inputSearchFocused && products.length" class="dropdown-menu results-container">
            <ul>
                <li *ngFor="let product of products" class="dropdown-item">
                    <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
                    <a [routerLink]="[routeService.productDetailRoute, product.id]" class="ml-5">{{product.name}}</a>
                </li>
            </ul>
        </div>

    </div>
</div>