<section class="shop-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="shop-main-wrapper">
                    <app-header-store></app-header-store>
                    <app-body-store 
                        [products]="paginatedProducts">
                    </app-body-store>
                    <app-pagination 
                        [items]="products" 
                        (displayedItems)="displayedProducts($event)">
                    </app-pagination>
                </div>
            </div>
        </div>
    </div>
</section>