<div class="mobile__menu">
    <div class="container">
        <div class="row">

            <div class="col">
                <div class="text-center">
                    <a 
                        [routerLink]="routeService.homeRoute" 
                        routerLinkActive="active"
                        class="mobile__item">
                        <i class="fa-light fa-house"></i>
                        <span>Home</span>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="text-center">
                    <a 
                        [routerLink]="routeService.catalogRoute" 
                        routerLinkActive="active"
                        class="mobile__item">
                        <i class="fa-light fa-store"></i>
                        <span>Store</span>
                    </a>
                </div>
            </div>

            <div class="col d-lg-none">
                <div class="text-center">
                    <button 
                        (click)="openSearchModal()" 
                        class="mobile__item">
                        <i class="flaticon-search-1"></i>
                        <span>Search</span>
                    </button>
                </div>
            </div>

            <div class="col">
                <div class="text-center">
                    <a 
                        [routerLink]="routeService.wishListRoute" 
                        routerLinkActive="active"
                        class="mobile__item">
                        <i class="fa-light fa-heart"></i>
                        <span>Wishlist</span>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="text-center">
                    <a href="profile.html" class="mobile__item">
                        <i class="fa-light fa-user"></i>
                        <span>Account</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>