<section class="checkout" data-bg-color="#EFF1F5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="checkout__place">

                    <h3 class="checkout__place__title">Your Order</h3>

                    <div class="checkout__place__info">
                        <ul>


                            @for (product of purchaseOrder().products; track $index)
                            {
                            <li class="checkout__place__info__list">
                                <img [src]="product.image" alt="image" />
                                <p>{{product.name}}</p>
                                <p>
                                    <span>x{{product.quantity}}</span>
                                </p>
                                <span>${{product.priceCart}}</span>
                            </li>
                            }

                            <li class="checkout__place__info__subtotal">
                                <span>Subtotal</span>
                                <span>${{purchaseOrder().totalPrice}}</span>
                            </li>

                            <li class="checkout__place__info__total">
                                <span>Total</span>
                                <span>${{purchaseOrder().totalPrice}}</span>
                            </li>

                        </ul>
                    </div>

                    <div>
                        <a href="#" class="option checkout__place__btn w-100">Place Order</a>
                    </div>

                </div>
            </div>

            <div class="col-lg-7">
                <div class="checkout__bill">

                    <h3 class="checkout__bill__title">
                        Billing Details
                    </h3>

                    <div class="checkout__bill__form">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkout__bill__form__input">
                                        <label>
                                            First Name
                                            <span>*</span>
                                        </label>
                                        <input type="text" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout__bill__form__input">
                                        <label>Last Name <span>*</span></label>
                                        <input type="text" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout__bill__form__input">
                                        <label>Company name (optional)</label>
                                        <input type="text" placeholder="Example LTD.">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout__bill__form__input">
                                        <label>Country / Region </label>
                                        <input type="text" placeholder="United States (US)">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout__bill__form__input">
                                        <label>Street address</label>
                                        <input type="text" placeholder="House number and street name">
                                    </div>

                                    <div class="checkout__bill__form__input">
                                        <input type="text" placeholder="Apartment, suite, unit, etc. (optional)">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout__bill__form__input">
                                        <label>Town / City</label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout__bill__form__input">
                                        <label>State / County</label>
                                        <app-nice-select></app-nice-select>

                                        <!-- <label>State / County</label>
                                        <select>
                                            <option>New York US</option>
                                            <option>Berlin Germany</option>
                                            <option>Paris France</option>
                                            <option>Tokiyo Japan</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout__bill__form__input">
                                        <label>Postcode ZIP</label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout__bill__form__input">
                                        <label>Phone <span>*</span></label>
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout__bill__form__input">
                                        <label>Email address <span>*</span></label>
                                        <input type="email" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout__bill__form__wrapper">
                                        <div class="checkout__bill__form__option">
                                            <input id="create_free_account" type="checkbox">
                                            <label for="create_free_account">Create an account?</label>
                                        </div>
                                        <div class="checkout__bill__form__option">
                                            <input id="ship_to_diff_address" type="checkbox">
                                            <label for="ship_to_diff_address">Ship to a different
                                                address?</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout__bill__form__input">
                                        <label>Order notes (optional)</label>
                                        <textarea
                                            placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>