<section class="shop-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="shop-main-wrapper">
                    <app-header-catalog></app-header-catalog>
                    <app-body-catalog [products]="paginatedProducts"></app-body-catalog>
                    <app-pagination 
                        [items]="products" 
                        (displayedItems)="displayedProducts($event)">
                    </app-pagination>
                </div>
            </div>
        </div>
    </div> 
</section>