@use 'index' as *;

.pagination {

    margin-top: 20px;
    justify-content: center;

    &__wrapper {

        ul {
            display: flex;

            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 6px;
                }

                & a,
                & span {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 38px;
                    text-align: center;
                    border-radius: 30%;
                    font-size: 15px;
                    font-weight: 500;
                    color: var(--text-body);

                    &:hover,
                    &.current {
                        background: var(--theme-primary);
                        border-color: var(--theme-primary);
                        color: var(--common-white);
                    }
                }
            }
        }
    }
}