<div class="pagination">
    <div class="pagination__wrapper">
        <nav>
            <ul>
                <li>
                    <a (click)="backPage()">
                        <i class="fa-regular fa-chevron-left"></i>
                    </a>
                </li>

                <li *ngFor="let page of pages">
                    <a 
                        [class]="page == currentPage ? 'current' : ''" 
                        (click)="paginateItems(page)">
                        {{page}}
                    </a>
                </li>
                <li>
                    <a (click)="nextPage()">
                        <i class="fa-regular fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>