<div class="pagination">
    <div class="pagination__wrapper">
        <nav>
            <ul>
                <li>
                    <a href="shop.html">
                        <i class="fa-regular fa-chevron-left"></i>
                    </a>
                </li>
                <li>
                    <a href="shop.html">1</a>
                </li>
                <li>
                    <span class="current">2</span>
                </li>
                <li>
                    <a href="shop.html">3</a>
                </li>
                <li>
                    <a href="shop.html">
                        <i class="fa-regular fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>