.cartmini-body {

    padding: 30px 0;
    flex: auto;
    height: calc(100vh - 330px);
    overflow-y: scroll;
    overscroll-behavior-y: contain;

    & ul {
        list-style: none;
    }
}

::-webkit-scrollbar {
    display: none;
}