$colors: (
    'common': (
        'white': #ffffff,
        'black-solid': #000,
        'black': #010F1C,
    ),
    'theme': (
        'primary': #821F40,
        'secondary': #010F1C,
    ),
    'heading': (
        'primary': #010F1C,
        'secondary': #021D35,
    ),
    'text': (
        'body':#55585B,
        '1':#767A7D,
        '2':#55585B,
        '3':#A0A2A4,
        '4':#7D7F82,
        '5':#888A8C,
        '6':#90969B,
        '7':#dae7eb
    ),
    'alert': (
        'success': #51a351,
        'warning':#f89406 ,
        'error': #bd362f
    ),
    'options':(
        'whatsapp': #25D366
    ),
    'border': (
        'primary':#EAEBED
    ),
    'green': (
        'dark': #115061
    ),
    'white': (
        'light': #E3EDF6 
    ),
    'grey': (
        '1':#F6F7F9,
        '2':#ECF2F7,
        '3':#CAD4DB,
        '4':#F8F8F8,
        '5':#EFF0ED,
        '6':#EFF1F5,
        '7':#F6F6F6,
        '8':#EAE4DE,
        '9':#E5E9F2,
    ),
    'yellow': (
        '1': #FFB342,
        '2': #FFD43A,
        '3': #ffa800,
    ),
);

$white : #fff;
$black : #010F1C;