// $font-url: 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap';

// $font-family: (
//     'font-family': (
//         'body': "'DM Sans', sans-serif",
//         'heading': "'DM Sans', sans-serif",
//         'p': "'DM Sans', sans-serif"
//     )
// );

$font-url: 'https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Jost:wght@300;400;500;600;700&family=Oregano&family=Roboto:wght@300;400;500;700;900&display=swap';

// font family
$font-family: (
    'font-family': (
        'body': "'Jost', sans-serif",
        'heading': "'Jost', sans-serif",
        'p': "'Jost', sans-serif"
    )
);


$font-size: (
    'font-size': (
        'body': 14px,
        'p': 14px
    )
)