<div class="cart">
    <div class="cart__thumb">
        <a href="#">
            <img [src]="productCart.image" alt="Commodo Blown Lamp" />
        </a>
        <button (click)="deleteProductCart(productCart.id)">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <div class="cart__content">

        <div class="cart__rating">
            <app-rating-star [rating]="productCart.rating">
            </app-rating-star>
        </div>

        <h3 class="cart__name">
            <a href="#">{{ productCart.name }}</a>
        </h3>

        <div class="cart__price">
            <span class="currency-symbol">
                $
            </span>
            {{ productCart.priceCart }}
        </div>

        <div class="cart__quantity">

            <button (click)="decrementQuantityProductCart(productCart.id)">
                <i class="fa-regular fa-minus fa-2xs"></i>
            </button>

            <input type="text" [value]="productCart.quantity" readonly />

            <button (click)="incrementQuantityProductCart(productCart.id)">
                <i class="fa-regular fa-plus fa-2xs"></i>
            </button>

        </div>

    </div>
</div>