<div class="cartmini-product">
    <div class="cartmini-product-img">
        <a href="#">
            <img [src]="productCart.image" alt="Commodo Blown Lamp" />
        </a>
        <button (click)="deleteProductCart(productCart.id)">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <div class="cartmini-product-content">

        <app-rating-star [rating]="productCart.rating">
        </app-rating-star>

        <h3 class="cartmini-product-content-name">
            <a href="#">{{ productCart.name }}</a>
        </h3>

        <div class="cartmini-product-content-price">
            <span class="currency-symbol">
                $
            </span>
            {{ productCart.priceCart }}
        </div>

        <div class="cartmini-product-content-quantity">

            <button (click)="decrementQuantityProductCart(productCart.id)">
                -
            </button>

            <input 
                type="number" 
                [value]="productCart.quantity" 
                readonly />

            <button (click)="incrementQuantityProductCart(productCart.id)">
                +
            </button>
            
        </div>

    </div>
</div>