.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #f6f7fb;
    padding-bottom: 30px;

    .item-img {
        margin-right: 30px;
        position: relative;

        a {
            display: block;
            background-color: #f6f7fb;
            border-radius: 10px;

            img {
                border-radius: 10px;
                height: 100px;
                width: 100px;
                object-fit: cover;
            }
        }

        .close-btn {
            height: 31px;
            width: 31px;
            background-color: #f6f7fb;
            border: 2px solid var(#ffffff);
            border-radius: 50%;
            font-size: 12px;
            color: #000000;
            position: absolute;
            top: -15px;
            // left: -10px;
            transition: all .3s ease-in-out;
        }
    }

    .item-content {
        flex: 1;
        position: relative;
        padding-right: 110px;
    }

    .item-title {
        font-size: 15px;
        font-weight: 400;
        color: #000000;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .item-price {
        font-size: 15px;
        font-weight: bold;
        color: var(--tp-common-black-solid);
    }

    .item-quantity {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        justify-content: flex-end;

        .quantity-input {
            font-size: 16px;
            font-weight: 600;
            color: #27272e;
            height: 26px;
            width: 30px;
            border: none;
            text-align: center;
            padding: 0;
        }

        .qtybtn {
            text-align: center;
            height: 26px;
            width: 26px;
            line-height: 20px;
            font-size: 18px;
            color: #000000;
            background-color: #f6f7fb;
            border-radius: 50%;
            transition: all .3s ease-in-out;
        }
    }
}

.pro-qty {

    input {
        width: 28px;
        float: left;
        border: none;
        height: 32px;
        line-height: 30px;
        padding: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        font-size: 20px;
        font-weight: 500;
        margin: 0 12px;
        color: #27272e;
    }

    .qtybtn {
        width: 32px;
        display: block;
        float: left;
        line-height: 26px;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        color: #000;
        height: 32px;
        background: #f6f7fb;
        border-radius: 50%;
        transition: .3s;
        border: 2px solid rgba(0, 0, 0, 0);
    }

}
