@use 'index' as *;

.wishlist {

    padding-bottom: 120px;

    &__products {

        margin-bottom: 45px;
        margin-right: 30px;

        .table> :not(caption)>*>* {
            padding: 20px 0;
            box-shadow: none;
            vertical-align: middle;
            background-color: inherit;
        }

        & thead {

            background-color: #F1F3F4;

            & th {
                font-weight: 500;
                font-size: 16px;
                color: var(--common-black);
                border: 0 !important;
                padding-top: 9px !important;
                padding-bottom: 9px !important;
                text-align: center;

                &:first-child {
                    border-radius: 6px 0 0 6px;
                }

                &:last-child {
                    border-radius: 0 6px 6px 0;
                }
            }
        }

        & tbody {

            & td {
                text-align: center;
                font-size: 16px;
            }
        }
    }

    &__image {
        width: 78px;
        margin-right: 20px;

        & img {
            width: 78px;
            height: 100px;
            object-fit: cover;
            @include transition();

            &:hover {
                @include transform(scale(1.1));
            }
        }
    }

    &__remove {
        display: block;
        text-align: center;
        height: 32px;
        width: 32px;
        line-height: 30px;
        background-color: #f6f7fb;
        border: 2px solid #f6f7fb;
        border-radius: 50%;
        font-size: 12px;
        color: #000;
        transition: 0.3s;
    }

    &__register {

        font-weight: 500;
        font-size: 14px;
        color: var(--common-white);
        background-color: var(--theme-primary);
        padding: 9px 26px 7px;
        border-radius: 6px;
        border: 0;

        &:hover {
            background-color: var(--common-black);
        }
    }
}
