<section class="wishlist">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <div *ngIf="productsWishlist.length" class="wishlist__products">
                    
                    <table [@slideTable] class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="2">Product</th>
                                <th>Rating</th>
                                <th>Price</th>
                                <th>Stock Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [@slideFadeLeft] *ngFor="let product of paginatedProductsWishList">

                                <!-- Delete product to wishlist -->
                                <td>
                                    <button type="button" class="wishlist__remove"
                                        (click)="deleteProductWishlist(product.id)">
                                        <i class="fal fa-times"></i>
                                    </button>
                                </td>

                                <!-- Image -->
                                <td class="wishlist__image">
                                    <a href="product-details.html">
                                        <img [src]="product.image" alt="">
                                    </a>
                                </td>

                                <!-- Name -->
                                <td>
                                    <a href="product-details.html">{{product.name}}</a>
                                </td>

                                <!-- Rating -->
                                <td>
                                    <app-rating-star [rating]="product.rating"></app-rating-star>
                                </td>

                                <!-- Price -->
                                <td>
                                    <span>{{product.price}}</span>
                                </td>

                                <!-- Stock Status -->
                                <td>
                                    <span>{{product.status}}</span>
                                </td>

                                <!-- Register product in cart -->
                                <td class="text-center">
                                    <button type="button" class="wishlist__register"
                                        (click)="registerProductCart(product)">
                                        Add To Cart
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <app-pagination 
                        [items]="productsWishlist"
                        (displayedItems)="displayedProducts($event)">
                    </app-pagination>

                </div>

                <ng-container *ngIf="!productsWishlist.length">
                    <app-product-empty [name]="'Wishlist'"></app-product-empty>
                </ng-container>

            </div>
        </div>
    </div>
</section>