.table> :not(caption)>*>* {
    background-color: inherit;
}

.remove-wishlist {
    display: block;
    text-align: center;
    height: 32px;
    width: 32px;
    line-height: 30px;
    background-color: #f6f7fb;
    border: 2px solid #f6f7fb;
    border-radius: 50%;
    font-size: 12px;
    color: #000;
    transition: 0.3s;
}

.tp-cart-list thead th {
    font-size: 16px;
}

thead th:first-child {
    border-radius: 6px 0 0 6px;
}

thead th:last-child {
    border-radius: 0 6px 6px 0;
}

th,
td {
    text-align: center;
}