<section class="product-category">
    <div class="container">
        <div class="row row-cols-xl-5 row-cols-lg-5 row-cols-md-4">

            <div *ngFor="let category of categories" class="col">
                <div class="product-category__item">

                    <div class="product-category__thumb">
                        <a [href]="category.link">
                            <img [src]="category.image" alt="product-category">
                        </a>
                    </div>

                    <div class="product-category__content">
                        <h3 class="product-category__title">
                            <a [href]="category.link">{{category.name}}</a>
                        </h3>
                        <p>{{category.product_count}} Product</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>