@use 'index' as *;

.product-category {

    padding-top: 60px;
    padding-bottom: 15px;


    &__item {
        text-align: center;
        margin-bottom: 40px;
    }

    &__thumb {

        margin-bottom: 16px;

        & a {
            display: inline-block;
            width: 180px;
            height: 180px;
            background-color: var(--grey-1);
            border-radius: 12%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;

            @media #{$lg, $md} {
                width: 150px;
                height: 150px;
            }
        }
    }

    &__content {
        & p {
            font-weight: 400;
            font-size: 14px;
            color: var(--text-2);
        }
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        color: var(--common-black);
        margin-bottom: 0;

        & a {
            &:hover {
                color: var(--theme-primary);
            }
        }
    }
}