<section class="feature">
    <div class="container">
        <div class="row gx-1 gy-1 gy-xl-0">

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="feature__item d-flex align-items-start">

                    <div class="feature__icon">
                        <i class="fa-light fa-truck"></i>
                    </div>

                    <div class="feature__content">
                        <h3>Free Delivary</h3>
                        <p>Orders from all item</p>
                    </div>

                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="feature__item d-flex align-items-start">
                    <div class="feature__icon">
                        <span>
                            <i class="fa-solid fa-dollar-sign"></i>
                        </span>
                    </div>
                    <div class="feature__content">
                        <h3>Return & Refunf</h3>
                        <p>Maney back guarantee</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="feature__item d-flex align-items-start">
                    <div class="feature__icon">
                        <i class="fa-regular fa-badge-percent"></i>
                    </div>
                    <div class="feature__content">
                        <h3>Member Discount</h3>
                        <p>Onevery order over $140.00</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="feature__item d-flex align-items-start">
                    <div class="feature__icon">
                        <i class="fa-regular fa-headphones"></i>
                    </div>
                    <div class="feature__content">
                        <h3>Support 24/7</h3>
                        <p>Contact us 24 hours a day</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>