<div class="position-relative">
    <div #displayCard>
        <ng-container *ngTemplateOutlet="productTemplate; context: { product: product }">
        </ng-container>
    </div>
    <div #addToCartLayer class="image-cart">
        <img [src]="product.images[0]" />
    </div>
</div>

<ng-template #productTemplate>
    <div class="product">

        <div class="product__thumb">

            <a [routerLink]="[ routeService.productDetailRoute , product.id ]">
                <img [src]="product.images[0]" class="product__image" alt="" />
            </a>

            <div class="product__action">
                <div class="d-flex flex-column">

                    <button type="button" (click)="registerProductCart(product)" class="product__button">
                        <i class="fa-light fa-cart-shopping"></i>
                        <span class="product__tooltip product__tooltip--right">
                            Add to Cart
                        </span>
                    </button>

                    <button type="button" (click)="registerProductWishlist(product)" class="product__button">
                        <i class="fa-light fa-heart"></i>
                        <span class="product__tooltip product__tooltip--right">
                            Add To Wishlist
                        </span>
                    </button>

                </div>
            </div>

        </div>

        <div class="product__content">

            <div class="product__tag">
                <a href="#">{{ product.category }}</a>
            </div>

            <h3 class="product__title">
                <a href="product-details.html">{{ product.name }}</a>
            </h3>

            <div class="product__rating">
                <app-rating-star [rating]="4"></app-rating-star>
            </div>

            <div class="product__price">
                <span class="product__price product__price--new">${{ product.price }} </span>
                <span class="product__price product__price--old">${{ product.priceAfter }}</span>
            </div>

        </div>

    </div>
</ng-template>