<div class="tp-header-main black-bg tp tp-header-sticky">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-xl-2 col-lg-2 col-md-4 col-6">
                <app-header-main-left></app-header-main-left>
            </div>

            <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                <app-header-search-products></app-header-search-products>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-8 col-6">
                <app-header-main-right></app-header-main-right>
            </div>

        </div>
    </div>
</div>