.breadcrumb {

    &__title {
        font-weight: 500;
        font-size: 25px;
        line-height: 1;
    }

    &__list {

        margin-bottom: 10px;

        & span {
            font-weight: 400;
            font-size: 15px;
            position: relative;

            &:last-child {
                color: var(--common-black);
            }

            & a {
                &:hover {
                    color: var(--theme-primary);
                }
            }
        }
    }
}