.breadcrumb {

    &__title {
        font-weight: 500;
        font-size: 28px;
        line-height: 1;
        margin-bottom: 6px;
    }

    &__list {

        & span {
            font-weight: 400;
            font-size: 16px;
            position: relative;

            &:last-child {
                color: var(--common-black);
            }

            & a {
                &:hover {
                    color: var(--theme-primary);
                }
            }
        }
    }
}

.include-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}