<header>
    <div class="header-area">
        <div class="header-main">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-6">
                        <app-header-logo></app-header-logo>
                    </div>

                    <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                        <app-header-search></app-header-search>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-8 col-6">
                        <app-header-action></app-header-action>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>